# Ignore environment folder (from parent)
../Stu_dropOut_env/

# Bytecode files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data output files
*.csv
*.xlsx
*.log

# VS Code settings (optional)
.vscode/

# Streamlit cache
.streamlit/

# Docker
*.tar

#Logs
*.log"__pycache__/" 
"*.pyc" 
"*.log" 
